<nav class="container">
  <h1>XKCD Comics Viewer</h1>
  <div class="navbar-buttons">
    <button
      routerLink="home"
      routerLinkActive="active"
      class="btn btn-secondary go-comics"
    >
      Go Comics <i class="bi bi-house-fill"></i>
    </button>
    <button
      routerLink="favorites"
      routerLinkActive="active"
      class="btn btn-secondary favorites-button"
    >
      My Favorites
      <span class="total-favorites">{{ getTotalFavorites() }}</span>
    </button>
    <button class="btn btn-secondary favorites-button" (click)="themeToggle()">
      Switch Theme
    </button>
  </div>
</nav>
