.container {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
.btn-secondary:not(:disabled).active {
  border-bottom: 2.5px solid red;
}
.container .favorites-button {
  position: relative;
  padding-right: 30px;
  margin-left: 20px;
}
.total-favorites {
  position: absolute;
  background-color: rgb(216, 9, 9);
  padding: 0px 5px;
  top: 0;
  right: 0;
  border-radius: 5px;
}
