.container {
  margin-top: 5em;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.favorites-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  max-height: 35px;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.responsive-table .table-header {
  background-color: #676969;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.table-row li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
}

.table-header .col {
  font-weight: 900;
}
.table-header .col-2 {
  margin-right: 50px;
  text-align: end;
}
.table-header .col-3 {
  margin-right: 100px;
  text-align: end;
  font-size: 20px;
}

.responsive-table .table-row {
  background-color: #b1adad;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
