<div class="container">
  <div class="favorites-header">
    <h2>My Favorite Comics</h2>
  </div>
  <ul class="responsive-table">
    <li class="table-header">
      <div class="col col-1">ID</div>
      <div class="col col-2">Title</div>
      <div class="col col-3"><i class="bi bi-trash-fill"></i></div>
    </li>
    <li *ngFor="let comic of allComics" class="table-row">
      <div class="col col-1" data-label="Job Id">{{ comic.num }}</div>
      <div class="col col-2" data-label="Customer Name">{{ comic.title }}</div>
      <button (click)="removeComic(comic.num)" class="btn btn-secondary">
        Remove Comic <i class="bi bi-trash-fill"></i>
      </button>
    </li>
  </ul>
</div>
