.container-header {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buttons-container {
  margin-top: 0.5em;
}
.buttons-container button {
  margin-right: 5px;
}
.add-favorites {
  margin-bottom: 1em;
  margin-top: 0.5em;
}
.input-id {
  margin-top: 1em;
}
.warning {
  color: red;
}
